.col-xs-0,
.col-sm-0,
.col-md-0 {
    display: none !important;
}

.row{
    min-height:50px;
}

.wsaEmptySpace,
.wsaButton,
.wsaLabel,
.wsaImage {
    height: 100%;
    display:flex;
}
.col-md-12.wsaEmptySpace,
.col-sm-12.wsaEmptySpace,
.col-xs-12.wsaEmptySpace{
    min-height:50px!important;
}
.wsaImage{
    display:flex;
    justify-content:center;
    align-items:center;
}
.wsaImage{
    position:relative;
    z-index:1;
}

.form-control,
.wsaButton .btn,
.wsaLabel p,
.wsaImage img{
    margin-top: 7px;
    margin-bottom: 7px;
}
.wsaButton .btn {
    width: 100%;
    margin-top: 7px;
    padding: 0px;
    min-height: 35px;
}
.wsaButton a {
    width: 100%;
    height: 35px;
    display: block;
    padding-top:5px;
}





/*Item-Align Start*/
.wsaItemAlignLeft {
    justify-content: flex-start;
}

.wsaItemAlignRight {
    justify-content: flex-end;
}
.wsaItemAlignBottom{
    align-items:flex-end;
}
.wsaItemAlignCenter {
    align-items: center
}
.wsaItemAlignTop {
    align-items: flex-start
}
/*Item-Align End*/
/*Text-Align Start*/
.wsaTextCenter {
    justify-content: center
}

.wsaTextJustify {
    justify-content: flex-start;
}

.wsaTextRight {
    justify-content: flex-end
}
/*Text-Align End*/